<template>
  <div id="app">
    <div style="text-align:center;">
      <h1>Weather App</h1>
    </div>
    <b-container class="mb-3">
        <b-row cols="3">
            <city-component
            v-for="city in cities"
            v-bind="city"
            :key="city.id"
            @update="update"
            @delete="del"
            ></city-component>
        </b-row>
        <br>
        <br>
        <b-row>
            <b-col md="6" offset-md="3">
                <b-form @submit="onSubmit">
                    <b-form-group id="input-group-name" label="Enter City Name:" label-for="input-name">
                        <b-form-input
                        id="input-name"
                        v-model="form.name"
                        required
                        placeholder="Enter city name"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-refresh-interval" label="Enter Refresh interval (Seconds):" label-for="input-refresh-interval">
                        <b-form-input
                        id="input-refresh-interval"
                        v-model="form.refresh_interval"
                        required
                        placeholder="Enter refresh interval"
                        ></b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Add</b-button>
                </b-form>
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>
<script>
  function City({ id, name, refresh_interval, temperature, weather, image, updated_at}) {
    this.id = id;
    this.name = name;
    this.refresh_interval = refresh_interval;
    this.temperature = temperature;
    this.weather = weather;
    this.image = image;
    this.updated_at = updated_at;
  }

  import CityComponent from './CityComponent.vue';

  export default {
    data() {
      return {
        form: {
          name: '',
          refresh_interval: 180000
        },
        cities: [],
        timer: ''
      }
    },
    methods: {
        async create() {
        },
        async read() {
            const { data } = await window.axios.get('/api/city');
            data.forEach(city => {
                this.cities.push(new City(city));
                //load all tile refresh timmer
                this.timer = setInterval(() => {
                    this.update(city.id);
                }, city.refresh_interval);
            });
        },
        async update(id) {
            const { data } = await window.axios.put(`/api/city/${id}`);
            this.cities.find(city => {
                if(city.id === id)
                {
                    //update the refresh data
                    city.temperature = data.temperature;
                    city.weather = data.weather;
                    city.image = data.image;
                    city.updated_at = data.updated_at;
                    return;
                }
            });
        },
        async del(id) {
            await window.axios.delete(`/api/city/${id}`);
            let index = this.cities.findIndex(city => city.id === id);
            this.cities.splice(index, 1);
            //clear existing timmer and load other tile refresh timmer
            clearInterval(this.timer);
            this.cities.forEach(city => {
                this.timer = setInterval(() => {
                    this.update(city.id);
                }, city.refresh_interval);
            });
        },
        async onSubmit(evt) {
            evt.preventDefault();
            const { data } = await window.axios.post('/api/city', this.form);
            this.cities.push(new City(data));
            //load new created tile refresh timmer
            this.timer = setInterval(() => {
                this.update(data.id);
            }, data.refresh_interval);
            //reset form data to default
            this.form.name = '';
            this.form.refresh_interval = 180000;
        },
    },
    components: {
      CityComponent
    },
    created() {
      this.read();
    },
    beforeDestroy () {
      clearInterval(this.timer)
    },
  }
</script>