<template>
  <div class="city" style="padding:2%">
    
    <b-card header-tag="header" footer-tag="footer">
      <template v-slot:header>
        <h6 class="mb-0" style="text-align:center;">{{ name | properCase }}</h6>
      </template>
      <b-card-text style="text-align:center;" v-b-hover="handleHover">
        <b-img :src="image" fluid></b-img>
        <br>
        <b-button @click="del" v-if="isHovered" variant="danger" >Remove</b-button>
        <h6>Last Update : {{updated_at}}</h6>
      </b-card-text>
      <template v-slot:footer>
        <b-row>
          <b-col style="text-align:left;">{{ temperature }}C</b-col>
          <b-col style="text-align:right;">{{ weather }}</b-col>
        </b-row>
      </template>
    </b-card>

  </div>
</template>
<script>
  export default {
    data() {
      return {
        isHovered: false
      }
    },
    computed: {
    },
    methods: {
      handleHover(hovered) {
        this.isHovered = hovered
      },
      update(val) {
        this.$emit('update', this.id);
      },
      del() {
        this.$emit('delete', this.id);
      }
    },
    props: ['id', 'name', 'refresh_interval', 'temperature', 'weather', 'image', 'updated_at'],
    filters: {
      properCase(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
    }
  }
</script>
<style>
    
</style>